<%- include('./partials/head') %>

<%- include('./partials/navbar') %>

<section class="methods">
  <% methods.forEach((method)=> { %>
    <article class="method-container">
      <% if (method.template && method.template.url) { %>
          <img class="method-img" src="<%= method.template.url %>" alt="example of <%= method.title %>">
        <% } else { %>
          <img class="method-img" src="/assets/placeholder.jpg" alt="coming soon">
          <% } %>
            <section class="method-info">
              <% if (method.slug !='studieloopbaanbegeleidingsgesprek' ) { %>
                <h2>
                  <%= method.title %>
                </h2>
                <% } else { %>
                  <h2>Studieloopbaanbegeleiding gesprek</h2>
                  <% } %>
             </section>
    </article>
    <% }); %>
</section>